/* GENERAL */
html,
html {
  scroll-behavior: smooth;
}
body {
  font-family: Raleway, Arial, Helvetica, sans-serif;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-column-around {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.flex-column-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.decoration-none {
  text-decoration: none;
}
.border-none {
  border: none;
}
.text-bold {
  font-weight: bold;
}
.color-blue {
  color: #0065fc;
}
.color-blue-light {
  color: #deebff;
}
.color-gray {
  color: #f2f2f2;
}
.back-blue {
  background-color: #0065fc;
}
.back-blue-light {
  background-color: #deebff;
}
.back-gray {
  background-color: #f2f2f2;
}
.cursor {
  cursor: pointer;
}
/* NAV */

.size-nav {
  height: auto;
}
.size-links {
  width: 100%;
}
.size-link01 {
  margin-left: 60%;
}
.size-link {
  width: 140px;
  height: 99px;
}
.color-link01 {
  color: black;
}
.border-nav {
  border-top: 1px solid transparent;
}
.border-nav:hover {
  border-top: 1px solid #0065fc;
  cursor: pointer;
}
.border-nav:hover > a {
  color: #0065fc;
}
.margin-logo {
  margin-bottom: 7px;
}
/*HEADER*/

header {
  margin-left: 20px;
}
.desktop-none {
  display: none;
}
.border-search {
  width: 400px;
  border-radius: 10px;
  border: 0.5px solid #f2f2f2;
}
.padding-search {
  padding-left: 20px;
}
.search {
  height: 50px;
  width: 230px;
  font-size: 18px;
  color: black;
  font-weight: bold;
}
.icon-size {
  height: 50px;
  width: 50px;
  border-radius: 10px 0 0 10px;
}
.button-search {
  height: 50px;
  width: 120px;
  color: white;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
}
.button-search:hover {
  color: #0065fc;
  background-color: #f2f2f2;
}
/* Filtres */
.marg-filter {
  margin-top: 50px;
  margin-bottom: 40px;
}
.filter {
  display: flex;
  align-items: center;
}
.marg-filter-title {
  margin-right: 20px;
}
.filter-text-icons {
  border: 2px solid #f2f2f2;
  height: 50px;
  border-radius: 30px;
  margin-right: 20px;
}

.filter-text-icons:hover > .filter-text {
  color: #0065fc;
}
.filter-text-icons:hover > .filter-icons {
  color: white;
  background-color: #0065fc;
}
.filter-text {
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 0 25px 25px 0;
}

.filter-icons {
  margin-left: -2px;
  border-radius: 25px;
  width: 52px;
  height: 52px;
  color: #0065fc;
  background-color: #deebff;
}
/* INFO ICONE */
.info {
  display: flex;
  align-items: center;
}
.parent-icon {
  width: 20px;
  height: 20px;
  border: 2px solid #f2f2f2;
  border-radius: 25px;
  margin-right: 5px;
}
/* HEBERGEMENTS */
.size-hebergements {
  flex: 2;
  height: 650px;
  margin-right: 20px;
  border-radius: 10px;
}
.size-populaires {
  flex: 1;
  height: 650px;
  margin-left: 20px;
  border-radius: 10px;
}
.bloc-hebergements {
  padding-left: 20px;
  padding-right: 20px;
}
.bloc1 {
  margin-bottom: 10px;
}
.bloc2 {
  margin-top: 10px;
}
.cube-hebergements {
  width: 30%;
  height: auto;
  background-color: white;
  padding: 1%;
  border-radius: 20px;
  /* rajouter pour voir en version mobile et desktop */
  box-shadow: 5px 5px 5px 1px #f2f2f2;
}
.cube-hebergements:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.cube-details-hebergements {
  width: 90%;
  padding-left:7px;
  padding-right: 7px;
}

.cube-rating{
  padding-left:7px;
  padding-right: 7px;
  padding-bottom:7px;
}
.cube-image{
  width: 100%;
}
.img-hebergements1 {
  object-fit: cover;
  width: 100%;
  height: 120px;
  border-radius: 15px 15px 0 0;
}

/* Populaires */

.bloc-populaires {
  padding-left: 20px;
  padding-right: 20px;
}
.bloc-populaires2 {
  margin-bottom: 22px;
}
.cube-populaires {
  background-color: white;
  height: auto;
  padding: 1% 0 1% 1%;
  border-radius: 20px;
}
.cube-populaires:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.cube-details-populaires {
  width: 60%;
  padding-left: 5%;
}
.img-populaires1 {
  object-fit: cover;
  width: 35%;
  height: 160px;
  border-radius: 15px 0 0 15px;
}

/* Activites */
#activity {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 20px;
}
.bloc-activity {
  width: 100%;
  height: 600px;
}
.bloc-activity2 {
  width: 23%;
  height: 600px;
}
/* reglage bloc */

.cube-activity {
  width: 23%;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 1px #f2f2f2;
}
.cube-activity:hover {
  cursor: pointer;
  transform: scale(1.03);
}
.cube-activity2 {
  width: 100%;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 1px #f2f2f2;
}
.cube-activity2:hover {
  cursor: pointer;
  transform: scale(1.03);
}
/* fin reglage bloc */
.height-title {
  height: 70px;
}
.title-activity {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5%;
  width: 95%;
}
.img-activites1 {
  object-fit: cover;
  width: 100%;
  height: 530px;
  border-radius: 15px 15px 0 0;
}
.img-activites2 {
  object-fit: cover;
  width: 100%;
  height: 250px;
  border-radius: 15px 15px 0 0;
}
.img-activites3 {
  object-fit: cover;
  width: 100%;
  height: 150px;
  border-radius: 15px 15px 0 0;
}
.img-activites4 {
  object-fit: cover;
  width: 100%;
  height: 530px;
  border-radius: 15px 15px 0 0;
}
.img-activites5 {
  object-fit: cover;
  width: 100%;
  height: 200px;
  border-radius: 15px 15px 0 0;
}

/* footer */
.footer {
  height: 300px;
  margin-top: 100px;
}
.size-bloc-foot {
  height: 150px;
}
.marg-bloc-foot1 {
  margin-left: 5%;
}
.marg-bloc-foot3 {
  margin-right: 15%;
}
.link-foot {
  color: black;
}
.div-link-foot {
  height: 30px;
}
/* responsive */

@media screen and (max-width: 1295px) {
  .size-link01 {
    margin-left: 35%;
  }
  .cube-details-hebergements {
    min-height: 112px;
  }
  .size-hebergements {
    min-height: auto;
    padding: 20px;
  }
  .size-populaires {
    min-height: auto;
    padding: 20px;
  }
  .tablette-size-title-pop {
    margin-top: 0;
  }
}
@media screen and (max-width: 990px) {
  .mobile-filter-wrap {
    flex-direction: column;
    align-items: flex-start;
  }
  .filter-text-icons {
    margin-bottom: 20px;
  }
  #hebergements {
    flex-direction: column-reverse;
    width: 100%;
  }
  .bloc-populaires {
    flex: none;
    width: 90%;
    margin-left: 0;
    padding: 5%;
  }
  .bloc-hebergements {
    flex: none;
    width: 90%;
    margin-right: 0;
    margin-top: 50px;
    padding: 5%;
  }
  
@media screen and (max-width: 770px) {

  .size-links {
    width: 90%;
  }
  .size-link01 {
    margin-left: 20%;
  }
  .bloc-hebergements {
    height: auto;
  }
  .bloc1 {
    flex-direction: column;
    margin-bottom: 0;
  }
  .bloc2 {
    flex-direction: column;
    margin-top: 0;
  }
  .cube-hebergements {
    width: 100%;
    margin-bottom: 50px;
  }
  .cube-details-hebergements {
    min-height: auto;
  }
  .bloc-activity {
    flex-direction: column;
    height: auto;
  }
  .cube-activity {
    width: 100%;
    margin-bottom: 50px;
  }
  .bloc-activity2 {
    width: 100%;
    height: auto;
  }
  .cube-activity2 {
    margin-bottom: 50px;
  }
  .img-activites1,
  .img-activites2,
  .img-activites3,
  .img-activites5,
  .img-activites6 {
    height: 200px;
  }
  .img-activites4 {
    min-height: 520px;
  }
  .footer {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding-left: 20px;
  }
  .marg-bloc-foot1 {
    margin-left: 0;
  }
}
@media screen and (max-width: 600px) {
  .mobile-align {
    margin-left: 0px;
  }
  .size-link {
    flex-direction: row;
  }
  .size-link01 {
    order: 1;
    width: 100%;
    margin-left: 0;
  }
  .size-link-mobile {
    width: 50%;
    border-top: 0;
    border-bottom: 5px solid #f2f2f2;
  }
  .size-links {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .size-link-mobile:hover {
    border-top: 0;
    border-bottom: 5px solid #0065fc;
  }
  /* .mobileTitleh1 {
    font-size: x-large;
  } */
  .border-search {
    width: auto;
    border: none;
  }
  .recherche {
    width: 200px;
    border-bottom: 1px solid #f2f2f2;
    border-top: 1px solid #f2f2f2;
  }
  .button-search {
    width: 50px;
    border-radius: 15px;
  }
  .desktop-none {
    display: block;
  }
  .mobile-none {
    display: none;
  }
  .marg-filter {
    padding-left: 5%;
  }
  .mobile-economiques {
    margin-right: 5px;
  }
  .mobile-familiales {
    margin-right: 0;
  }
  .filter-text {
    padding-left: 10px;
    padding-right: 10px;
  }
  .info {
    padding-left: 5%;
  }
  .bloc-populaires {
    border-radius: 0;
  }
  .bloc-hebergements {
    background-color: white;
  }
  .mobile-title-para {
    padding-left: 5%;
  }
  .bloc-activity {
    padding: 5%;
    width: 90%;
  }
  html,
  body {
    margin: 0;
    padding: 0;
  }
} 
}